<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/manas/IdeaProjects/ATB5X/src/test/java/test/CRUD/GET">
        <classes>
            <class name="test.CRUD.GET.nonBDDGETTestNG">
                <methods>
                    <include name="NegSceGETALLBooking"/>
                    <include name="NegativeSce2GETALLBooking"/>
                    <include name="NegSce3GETAlLBooking"/>
                    <include name="PosSceGETALLBooking"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>